*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Watchface build artifacts
watchface/bin/
watchface/gen/
watchface/internal-mir/
watchface/external-mir/
watchface/developer_key
watchface/*.prg.debug.xml
watchface/*-settings.json
docs/Clude\ .rtf
